/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.btn-white-border {
	color: #ffffff;
	text-shadow: none;
	background-color: transparent;
	border-color: #FFF;
	border-width: 2px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.btn-white-border:hover {
    border-color: #fba100;
    background: #fba100;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.mt-4 {
	margin-top: 40px;
}

.mt-5 {
	margin-top: 50px;
}

.iconlist li {
	position: relative;
	font-size: 18px;
	padding: 8px 0;
}

.section-b2wads .feature-box.fbox-plain .fbox-icon img {
	height: 100% !important;
	top: -100px;
}

.section-b2wads .feature-box.fbox-plain .fbox-icon {
	border: none !important;
	width: auto !important;
	height: auto !important;
}

.section-b2wads .feature-box h3 {
	font-size: 23px;
}

.section-b2wads .feature-box p {
	font-size: 18px;
}

#logo {
	text-align: center;
}

#logo a.standard-logo {
	display: inline-block;
}

#logo img {
	display: inline-block;
	max-width: 100%;
	margin: 14px 0;
}

#content h4.sub-title {
    font-size: 24px;
}

#primary-menu.style-2>div>ul>li>a i.fa {
	top: 3px;
}
#primary-menu.style-2 > div > ul > li:hover > a {
    color: #fba100;
}

.feature-box.fbox-center .fbox-content h4{
	margin:0 0 5px;
	font-size:22px;
}

.feature-box.fbox-center p {
    font-size: 16px;
    margin-top: 10px;
	color:#6f6f6f;
}

.fbox-effect .fbox-icon i:hover, .fbox-effect:hover .fbox-icon i{
	background-color: #fba100;
}

.feature-box.fbox-center.borderbottom::after {
    content: '';
    width: 20px;
    height: 3px;
    position: relative;
    display: inline-block;
    background: #494e6b;
}

.title-page {
    margin-top: 40px;
}

.title-page span {
    font-size: 17px;
}

.web-hosting-options {
    padding-left: 10px;
}
.web-hosting-options li {
    list-style: none;
    padding: 8px 0;
    color: #363b40;
    font-weight: 500;
    letter-spacing: -0.1px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.web-hosting-options li i {
    margin-right: 5px;
    color: #fba100;
    font-size: 16px;
}

.text-success {
    color: #28a745!important;
}

ul.list-values {
    list-style: none;
}

ul.list-values li {
    padding: 8px 0;
    font-size: 18px;
}